.primary-bg  {
    background-color: #FFEFEF !important;
}

.secondary-bg {
    background-color: #FFE3FF !important;
}

.tirtiary-bg {
    background-color: #E8CFDB !important;
}

.text-primary {
    color: #FFEFEF !important;
}

.text-secondary {
    color: #FFE3FF !important;
}

.text-tertiary {
    color: #E8CFDB !important;
}

.text-color {
    color: #d18bad;
}

.icon {
    max-width: 250px;
    max-height: 250px;
    border: 5px solid #E9D6FF;
}

.title-text {
    font-size: 64px;
    padding-top: 63px;
}

.panel-item {
    max-height: 200px !important;
    max-width: auto !important;
    height: auto;
    width: auto;
    align-content: center;
}

@media (min-width: 576px) { 
    

}


body {
    background-color: #fbfbfb;
}